fastapi==0.115.13
uvicorn[standard]==0.35.0

langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-google-genai==2.1.8

faiss-cpu==1.11.0

pdfplumber==0.11.7

python-dotenv==1.1.1
python-multipart==0.0.20

numpy==2.3.1

pydantic==2.11.7